body {
    margin: 0;
}

header {
    background: #03a9fa;
    text-align: center;
}

.logo {
    color: aliceblue;
    font-size: 24px;
}

input{
    font-size: 16px;
    margin: 20px 0px;
}

footer{
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    background-color: #bcbcc0;
    color: rgb(252, 246, 239);
}
.newslist{
background-color: #f0f0f1;
margin: 10px;
padding: 1px 12px 20px ;

}

.newsheader{
margin: 30px 30px;
}